@model ProductMvc.CQRS.CommandQueries.ProductCreateCommand
@{
    Layout = "_Layout2";
}
<h2>Product details</h2>

<form method="post" enctype="multipart/form-data" asp-action="AddProduct" asp-controller="Product" >
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" required/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity">Quantity</label>
        <input asp-for="Quantity" class="form-control" required />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" required />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Img" class="control-label">Image</label>
        <input type="file" asp-for="Img" class="form-control-file" required />
        <span asp-validation-for="Img" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
  

